<<<<<<< HEAD
Añadir pregunta:
=======
Añadir preguunta:
>>>>>>> 65708fa72d7f2f820949fd2696cded8fa1897350
<p>
    <form method="post" action="/quizes/create">
        <% include _form.ejs %>
    </form>
</p>